body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

nav {
  display: flex;
  justify-content: center;
}

form {
  width: 300px;
  margin: 0 auto;
  margin-top: 3%;
  padding: 2.3em;
  padding-right: 3em;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
}

label {
  display: block;
  margin-top: 1em;
  font-size: 14px;
  color: #333;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  margin-top: 1em;
}

input[type="text"]:focus,
input[type="email"]:focus {
  outline: none;
  box-shadow: 0 0 2px 1px var(--cor-principal);
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: var(--cor-principal);
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 0.8em;
}

button[type="submit"]:hover {
  background-color: #c00;
}

button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}