h6 {
  display: none;
}

nav a {
  color: black;
}

#produto-detalhe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  width: 60%;
  margin: auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#produto-detalhe p {
  font-size: 20px;
  font-weight: 700;
}

#frete {
  color: green;
  font-weight: bolder;
}

#produto-detalhe img {
 height: 300px;
 width: 300px;
}

#produto-detalhe div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

