@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

:root {
  --cor-principal: #a80000;
}

#icone-carrinho {
  color: var(--cor-principal);
  position: absolute;
  right: 30px;
  top: 30px;
}

.voltar {
  border: 1px solid var(--cor-principal);
  border-radius: 10px;
  padding: 0 10px;
  color: var(--cor-principal);
  font-size: 30px;
  margin: 25px;
}

h1 {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 60px;
  text-align: center;
  margin-top: 50px;
}

#carregando {
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
}

#nao-encontrado {
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
}

#busca-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

#busca-container p {
  font-size: 25px;
  font-weight: 500;
  text-wrap: nowrap;
}

#busca {
  width: 300px;
  height: 30px;
  font-size: 20px;
  padding: 5px;
}

#buscar {
  background-color: var(--cor-principal);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: all 1s;
}

#buscar:hover {
  background-color: #3903ff;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  height: 70dvh;
  overflow-y: auto;
}

.produto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid #bcbcbc;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  width: 250px;
  height: 550px;
  padding: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 2px 2px 2px 2px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: border 0.5s;
}

.produto:hover {
  border: 3px solid var(--cor-principal);
}

.produto h3 {
  font-size: 20px;
  text-align: center;
  height: 100px;
}

.produto p {
  font-size: 22px;
}

.produto p:last-of-type {
  color: green;
  font-weight: bolder;
}

.produto img {
  width: 100%;
  height: 200px;
}

span {
  font-size: 25px;
  color: var(--cor-principal);
}

a {
  text-decoration: none;
  color: white;
}

button {
  background-color: var(--cor-principal);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: all 1s;
}

button:hover {
  background-color: #3903ff;
}

footer {
  display: fixed;
  background-color: var(--cor-principal);
  color: white;
  height: 80px;
  font-size: 20px;
  padding: 20px;
  margin-top: 10px;
}

footer p {
  text-align: center;
}