#produtos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.produto {
    display: flex;
    flex-direction: column;
    border: 3px solid #bcbcbc;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 550px;
    padding: 0 10px;
}

.produto h3 {
    font-size: 20px;
    text-align: center;
    height: 100px;
}

.produto p {
    font-size: 22px;
}

.produto p:last-of-type {
  color: green;
  font-weight: bolder;
}

.produto img {
    width: 100%;
    height: 200px;
}

.produto span {
    font-size: 25px;
    color: #ff0000;
}

.produto button {
    background-color: #ff0000;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}
